.toast_handler_container {
  position: fixed;
  top: 4rem;
  transform: translateX(-50%); /* Shift left by 50% of its own width */
  min-height: 5rem;
  width: max-content;
  max-width: 52rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fbd0d0;
  border: 2px solid #cb1b1b;
  z-index: 80;
  padding: 0 1.6rem;
  /* Text Styles */
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  color: var(--col-grey-100);
}

.toast_handler_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toast__left_col {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}

.error_icon_wrapper {
  display: flex;
  align-items: center;
}

.cancel_button_wrapper {
  margin-left: 10px;
}

.cancel_button_wrapper button {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.cancel_button_wrapper button img {
  height: 2rem;
}

/* Media Queries */
@media (max-width: 650px) {
  .toast_handler_container {
    min-height: 4rem;
    left: 5% !important;
  }
}
