@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

html {
  font-size: 62.5%;
  background: rgba(255, 255, 255, 1);
}

body {
  font-size: 1.6rem;
  font-family: "Archivo", sans-serif !important;
  background: rgba(255, 255, 255, 1);
}

button {
  cursor: pointer;
  font-family: "Archivo", sans-serif !important;
}
